[2014-07-21 01:20] mansimov opened #1 "takes too long to load"
any ideas why does it take so long for keyboard to load ?

[2014-08-07 06:05] mutelove opened #2 "First row Popup"
Hi
Thank you for your awesome work,
In Xcode 6 Beta 5 you can adjust a custom keyboard's height, and you can draw popup for first row normally, follow is the code from apple developer guid:

CGFloat _expandedHeight = 500;
NSLayoutConstraint *_heightConstraint = [NSLayoutConstraint constraintWithItem:self.view attribute:NSLayoutAttributeHeight relatedBy:NSLayoutRelationEqual toItem:nil attribute:NS

[2014-08-19 17:28] nsak opened #3 "What licensing term is available for this project? BSD, MIT"

[2014-09-23 04:01] revblaze opened #4 "Optimization Issues on the iPhone 6 Plus"
![Portrait](https://cloud.githubusercontent.com/assets/1476332/4367395/3ae8b5be-42d6-11e4-819e-8d523229b046.PNG)
![Landscape](https://cloud.githubusercontent.com/assets/1476332/4367396/3af42444-42d6-11e4-98ef-0d50ecc36450.PNG)

[2014-09-24 12:27] #3 closed, assigned to nobody

[2014-09-28 16:46] archagon opened #5 "Whenever the keyboard height is changed, the keyboard flickers before correctly adjusting to the new height."
I am lead to believe that this is a problem with the framework. If you add a constraint to set the new keyboard height, you can add a breakpoint to `viewDidLayoutSubviews` and see that even though the keyboard height is changed during one of the frames in the simulator or on the device, the `frame`, `bounds`, and `center` properties of all the views are still at their old values, making it impossi

[2014-10-02 19:06] mikolalv123 opened #6 "Writing only capital letters"
Good day,
I have tested your keyboard and can see that application is writing only capital letters, even if i select lowercase capital letters appears

[2014-10-03 06:26] bbqsrc opened #7 "segfault on Xcode 6.1"
The following is no fun:

[code]

[2014-10-04 02:30] #6 closed, assigned to nobody

[2014-10-05 11:15] mikolalv123 opened #8 "Spacebar dissapears on when setting row 4"
Good day,
Can you please assist me why space bar is disappearing if I am setting it's row to 4 ? Thank you in advance

[2014-10-05 17:37] #8 closed, assigned to nobody

[2014-10-07 01:05] tural-ali opened #9 "XCode 6.1 GM & iOS 8.1 Beta issue"
http://joxi.ru/NTwzVP3JTJBHA9AF9qM there is an toraw() issue

[2014-10-08 13:14] bbqsrc opened #10 "Long press keys"
I know you've said you'll tackle this later, but I thought I'd open this for consideration.

We just discussed in another bug the requirement for a banner due to the view not being able to have popups extend outside which is unfortunate.

If the popups are on the left and right, that'd have implications for the long press implementation.

Is it possible to resize the view on the fly?

[2014-10-09 04:06] #4 closed, assigned to nobody

[2014-10-10 18:07] mikolalv123 opened #11 "Background Color"
Good day,
Sorry writing this as an issue, but can you please point us where we can change backgorund color and special key colors.

[2014-10-10 18:58] TwizzyIndy opened #12 "is there any way to add about AutoCompletion ?"
i used this code ... in keyPressed()  ...

[code]

... but i can press the the first described letter in keyboard startup : "I" , when the other keys i pressed, the app crashed ..
please give me some recommendation ... thanks

[2014-10-12 20:13] alariccole opened #13 "BannerView is prohibited from having interaction"
The banner view would be useful for auto completion, but currently its touches are being intercepted by the keys. What's a good workaround to allow this area to be touched? The implementation of ForwardView seems to prohibit this.

I understand the intention was to allow space for the key popover graphics to extend above the keys, but this view should be able to be used for user interaction. What

[2014-10-13 04:11] #12 closed, assigned to nobody

[2014-10-17 00:59] #2 closed, assigned to nobody

[2014-10-17 01:24] archagon opened #14 "Rotations are slow."
This is especially the case in dark mode, but it's pretty slow in normal mode too. Usage afterwards is not affected. My layout function doesn't appear to take up much time, so I have to assume it's a rendering issue.

[2014-10-17 01:26] archagon opened #15 "Typing is laggy in dark mode, especially in landscape."
I have to use layer masks to make the keys and popups have the blur effect, but unfortunately this appears to significantly slow down rendering. Not sure how to fix without getting rid of blur effect — which is pretty important!

[2014-10-17 01:39] archagon opened #16 "Dark mode is not correct in accessibility disabled blur mode."
Unfortunately, mixing/matching different colors and blur effects does not seem to produce correct results in both enabled and disabled blur modes. Apple might be using a custom blur/vibrancy mode.

[2014-10-17 01:59] #16 closed, assigned to nobody

[2014-10-17 02:30] archagon opened #17 "Hold shift to type caps doesn't work."

[2014-10-17 02:30] archagon opened #18 "Can have multiple popups at once, unlike default keyboard."

[2014-10-17 02:31] archagon opened #19 "Mode change wonkiness."
- modes can only cycle forwards
- labels are incorrect

[2014-10-17 03:11] #19 closed, assigned to nobody

[2014-10-17 18:02] pirrate opened #20 "Does not fit iPAD screen."
I just noticed that keyboard does not fit iPad and iPhone 6 (landscape) screen. It appears as a little keyboard on the center.

[2014-10-19 06:04] mutelove opened #21 "UIReturnKeyType"
Hi,
tank you for your awesome work,
you can use UIReturnKeyType to change return key label for given situation, for example : return, Search, Done, Send ...
like original keyboard most of custom keyboards have this feature.
UIRetunKeyType is :

import UIKit
enum UIReturnKeyType : Int {
    case Default
    case Go
    case Google
    case Join
    case Next
    case Route
    case Search
    case

[2014-10-19 13:00] bbqsrc opened #22 "Crashes after pressing 3 or 4 buttons"
[code]

I'm sure you'll easily reproduce this, but putting it here just in case. :smile:

[2014-10-19 14:58] #22 closed, assigned to nobody

[2014-10-19 15:51] #13 closed, assigned to nobody

[2014-10-19 21:19] mikolalv123 opened #23 "Long Key"
Good day,
Can you please provide information if the longkey press can add extra symbols for selection ?

[2014-10-19 21:25] #11 closed, assigned to nobody

[2014-10-21 01:21] #9 closed, assigned to nobody

[2014-10-21 01:21] #7 closed, assigned to nobody

[2014-10-21 01:22] #20 closed, assigned to nobody

[2014-10-21 04:59] alariccole opened #24 "Banner view should be initialized at viewDidLoad"
Currently the banner view doesn't get initialized until layoutSubviews, but this is contrary to the expected behavior of having all views ready by viewDidLoad.

[2014-10-21 09:04] pirrate opened #25 "Keyboard doesn`t show up on messages app."
For some reason custom keyboard is not on the keyboard list when you hold globe button on Messages app. Any idea why?

[2014-10-21 20:28] mc108 opened #26 "Changing colors"
Hi,

How can I change the keys background color and also the keyboard background?

Thanks,
Mooly.

[2014-10-24 18:45] SchSimon opened #27 "QWERTZ layout planned?"
Do you have any plans to support the German QWERTZ Layout soon?
Just by swapping Y and Z and adding 3 Buttons?! I would really appreciate it as I would like to use the keyboard for my Master Thesis Research in Germany.

![qwertz keyboard](https://cloud.githubusercontent.com/assets/1579773/4774437/4a65e5da-5bad-11e4-966a-941aa59f11d2.PNG)

[2014-10-31 11:01] TwizzyIndy opened #28 "It isn't change to UIKeyboardTypeNumberPad"
It isn't change to UIKeyboardTypeNumberPad when textfield is number only ..

Please reply me and help me

[2014-11-01 10:12] archagon opened #29 "In some cases, banner does not appear and keyboard does not expand to correct height."
Easy to reproduce in Google Maps search field, after opening once.

[2014-11-01 10:12] archagon opened #30 "Dark mode does not switch dynamically, causing occasional incorrect mode when keyboard is not recreated by OS."

[2014-11-01 10:14] archagon opened #31 "Sometimes the keyboard does not appear at all, or appears with a blank view. The user can't do anything."
I think I've only seen this happen in Spotlight. Cannot consistently reproduce. Not sure if bug in my app or a framework bug.

[2014-11-01 10:14] #1 closed, assigned to archagon

[2014-11-01 10:15] #26 closed, assigned to nobody

[2014-11-04 03:33] #24 closed, assigned to archagon

[2014-11-04 03:33] #27 closed, assigned to nobody

[2014-11-04 03:33] #30 closed, assigned to archagon

[2014-11-04 03:34] #29 closed, assigned to archagon

[2014-11-04 12:54] #23 closed, assigned to nobody

[2014-11-04 13:01] archagon opened #32 "Sometimes the keyboard expands to an incorrect size when rotated to landscape."
In Google Maps, if you tap on the search field, close the keyboard, and tap on the search field again, when you rotate the phone to landscape, the keyboard almost fills up the entire screen. I think this is probably an iOS bug since it happens to every 3rd party keyboard I've tried.

[2014-11-05 06:43] roohix opened #33 "Multiple key in one key"
Thanks for wonderful project
I know you said press key for multiple key (long key) isn't your priority, I think this is the most important part of every keyboard, so I want to know when you are going to work on it? , if you can give us a time

Thanks

[2014-11-05 14:40] #33 closed, assigned to nobody

[2014-11-07 21:08] N0tinuse opened #34 "Retain cycle in ForwardingView"
In ForwardingView.swift you're declaring a dictionary from touches to UIViews but never releasing the UIViews when touches end. This causes a retain cycle and will eventually crash the keyboard if you cycle through it enough times (by advancing to next keyboard) as it retains all instances. To fix this you can put in

self.touchToView[touch] = nil

at the end of both touchesEnded and touchesCancel

[2014-11-09 16:09] pirrate opened #35 "AutoPeriod need to be fixed"
When auto-period is ON, it puts period to the end of word if you click space 2 times not depending on pause between space clicks. In default iOS keyboard it does that only if you double click space or pause between clicks is 1 second. If it is more than 1 second it keeps inserting space character.

[2014-11-11 17:32] OneMoreThing opened #36 "Support for accents"
Keep holding your finger down and slide it to insert accents, important when you're writing in a non-English language.

[2014-11-11 22:52] #34 closed, assigned to nobody

[2014-11-12 02:30] andykimisgreat opened #37 "Add a MKMapView, crashes immediately after the map view shows up"
Can I ask a irrelevant question? I am trying to add a map view to my custom keyboard app. But it crashes in device when I run from native target, not from extension. But if I run it from extension target, it works fine. Why it only crashes from native target not from extension target.

[2014-11-12 21:51] alariccole opened #38 "Simpler support for additional key layouts (for different languages)"
I'm curious if a more standardized template system for additional layouts other than US Latin could be done efficiently. Support for other letters, alphabets, and languages (such as Cyrillic, Arabic, etc.) is going to be needed.

Right now, the code and the layout is intertwined in DefaultKeyboard. I'm envisioning something as simple as an array of rows and keys, their properties (shift, letter, a

[2014-11-12 22:09] #36 closed, assigned to nobody

[2014-11-13 14:10] Ge0rges opened #39 "Update wiki with keyboard sizes and constraints?"
Hi,

Thanks for the great work you did on this project but I was wondering if you could add a comprehensive image of the iPhone keyboard with size overlays on it for the keys and spacing to the wiki. This would really help lots of people.

Thanks,
Georges

[2014-11-13 15:57] Ge0rges opened #40 "Make it simpler to implement?"
Hey,

We all appreciate the great keyboard you built here, but I was wondering if you have plans to make this simpler to implement as some sort of Library which we can just use and build on top of. That would be the best thing ever and would enable tons of inexperienced developers the chance to develop simple keyboards while giving the user the best experience possible.

I would be 100% willing to

[2014-11-14 09:30] pirrate opened #41 "iPhone 6 & 6plus landscape mode"
Keyboard does not fit screen in landscape mode on iPhone 6 & 6plus. I know you did it because default keyboard of Iphone 6 has extra buttons. But, could you please make it to fit area anyway? In future you add extra buttons it will be resized anyway.

[2014-11-14 10:02] #41 closed, assigned to nobody

[2014-11-17 20:49] alariccole opened #42 "Punctuation check improvements"
(I probably could have done this as a pull request, but figured it warranted a discussion. And sometimes a simple text replace is easier than dealing with merges!)

You currently check for punctuation using something like this:

[code]

However, there are native methods for that. I am uncertain if these deal with localization, but I assume they do--for instance, Japanese uses a different period th

[2014-11-17 22:50] archagon opened #43 "Performance Improvements"
- [ ] memoize geometry calculations for key shapes (probably inconsequential despite repeated work)
- [x] lazy load settings
- [x] reuse keys between pages
- [ ] share backing stores between CALayers for identically-sized keys
- [ ] instead of having individual key views, draw them all manually in the view controller's view; will decide if/when incorporating [illyabusigin/CYRKeyboardButton](https:

[2014-11-18 11:58] bbqsrc opened #44 "Multiple keyboards in the same holding app"
Hey!

Been playing with keyboard generation on [bbqsrc/tasty-imitation-keyboard](https://github.com/bbqsrc/tasty-imitation-keyboard) and [bbqsrc/softkbdgen](https://github.com/bbqsrc/softkbdgen).

One thing I've been wondering if whether or not it is possible to have multiple keyboards in the same holding app. I'm sure it is, but I'm not sure how to go about it yet.

I intend to spend tomorrow try

[2014-11-19 07:55] kiwi07 opened #45 "Landscape mode on iPhone 6"
Please help me fix this issue.

![ios simulator screen shot](https://cloud.githubusercontent.com/assets/5070135/5102356/fc39b860-6ffb-11e4-83fa-c34491cc43f2.png)

[2014-11-19 13:39] FaisalAlneela opened #46 "use the keyboard with another project!"
Hello

I want to use the keyboard with another project so i copped the keyboard swift files only but when i use the keyboard it works at the first time but when i dismiss it and use it many times it stop working until i delete it from the keyboards list....but the when i use your project it don't have this problem!!

my question is that when i copy the swift files of the keyboard to other project

[2014-11-19 14:39] #45 closed, assigned to nobody

[2014-11-19 14:42] #46 closed, assigned to nobody

[2014-11-20 03:16] kiwi07 opened #47 "Popup of the first row keys"
Hi,

Please help me fix 2 issues below:
1. Popup of first row keys cannot draw correctly when I remove top banner.
   self.keyboardHeight = self.heightForOrientation(self.interfaceOrientation, withTopBanner: false)

![img_0114](https://cloud.githubusercontent.com/assets/5070135/5119067/40678fa6-709e-11e4-85b9-e2100ec2b979.jpg)
1. Sometime keyboard does not show in Spotlight. The keyboard takes a l

[2014-11-20 18:47] #47 closed, assigned to nobody

[2014-11-21 10:38] pirrate opened #48 "Crash Report"
I was looking at iPhone General > Privacy > Usage > Usage Data and found this crash report. Any idea what is the reason?

![keyboard](https://cloud.githubusercontent.com/assets/9286693/5141181/f7e75894-718b-11e4-96c7-055412eb0fb5.jpg)

[2014-11-21 16:54] #14 closed, assigned to nobody

[2014-11-21 16:54] #15 closed, assigned to nobody

[2014-11-21 16:55] #31 closed, assigned to archagon

[2014-11-23 04:05] bbqsrc opened #49 "Issues building for device"
Finally got a real device to test this with. Once I set the target to the iOS 8.1 iPod, hit play in Xcode, I get the following stacktrace and nothing nice on my screen. :cry:

[code]

What am I doing wrong?

[2014-11-23 21:44] #44 closed, assigned to nobody

[2014-11-23 21:45] #32 closed, assigned to nobody

[2014-11-23 21:45] #25 closed, assigned to nobody

[2014-11-23 21:46] #5 closed, assigned to nobody

[2014-11-24 13:12] Ge0rges opened #50 "How to implement?"
How does one implement this framework?

[2014-11-24 14:18] Ge0rges opened #51 "Keyboard size"
Where did you obtain the data on different keyboard sizes?

[2014-11-24 15:09] #51 closed, assigned to nobody

[2014-11-24 15:09] #50 closed, assigned to nobody

[2014-11-25 10:00] sajjadali118 opened #52 "Changing fonts"
Hi,
    I want to add different font(actually Symbols) instead of custom letters, i tried it by making new pages and rows(adding new keys), its working but incredibly increase keyboard loading time.
how can i reload or remove keys of past keyboards(default keyboard) and add new keyboard(rounded fonts)
please help!

[2014-11-26 02:38] #49 closed, assigned to nobody

[2014-11-26 19:13] pirrate opened #53 "How to disable forwardingview"
Is there a way to disable forwardingview (then reEnable it when needed) so all these touch events will be canceled for a while?

[2014-11-27 14:56] #52 closed, assigned to nobody

[2014-11-28 14:40] #53 closed, assigned to nobody

[2014-11-29 21:11] dzpt opened #54 "Start up speed"
I've worked on custom keyboard for few months.
This keyboard is really good at UI, but speed at show up is not good as many keyboards written in swift.

I've tested few keyboards in appstore, first time load is slow but second time is really fast.
My keyboard and this keyboard having same trouble is always take long times at start up.

Don't know why, is that because of swift? Objective C brings b

[2014-11-30 07:15] pirrate opened #55 "Memory leak"
While debugging in Xcode i noticed that every time when i change keyboard to my custom keyboard the memory keeps increasing. It starts with 25MB which is fine as Apple mentions in their App Extension Programming Guide https://developer.apple.com/library/ios/documentation/General/Conceptual/ExtensibilityPG/ExtensionCreation.html that memory limits for app extensions are significantly lower than lim

[2014-12-02 20:51] pirrate opened #56 "iPad Landscape mode bug"
Keyboard crashes on iPad landscape mode. It appears normally but whenever you click any button it crashes. I tested in real device. Urgent fix appreciated.

[2014-12-07 04:04] bbqsrc opened #57 "Button padding"
I am localising the word "return" and finding that if the word is long enough, the word will rub up right against the left and right side.

Where is the margin/padding/otherAppleSpecificTermForThisSpacing set? Will keep digging in the mean time. :smile:

[2014-12-07 05:14] #57 closed, assigned to nobody

[2014-12-08 13:16] bbqsrc opened #58 "How would one implement two-char button style from iPad?"
This is not a bug but merely a discussion on how one might go about implementing the following button styles:

![screen shot 2014-12-09 at 00 13 25](https://cloud.githubusercontent.com/assets/279099/5339735/6bc4cdbe-7f38-11e4-90a6-d10a82f94675.png)

Would it be enough to just add a new line to a button?

[2014-12-11 20:34] technoj opened #59 "Swipe"
Can you try to add swype like capabilities?

[2014-12-11 20:56] #59 closed, assigned to nobody

[2014-12-13 05:00] pirrate opened #60 "Auto Caps bug"
when typing some text then clicking to the middle part of the text, keyboard automatically enables shift mode.

[2014-12-13 10:27] #28 closed, assigned to nobody

[2014-12-15 11:40] pirrate opened #61 "isLandscape issue on KeyboardLayout"
on iPad isLandscape always returns true. Does not matter if it is portrait or landscape

[2014-12-15 11:59] #61 closed, assigned to nobody

[2014-12-17 16:29] pirrate opened #62 "Spotlight keyboard problem"
Keyboard does not appear on spotlight sometimes. i would be glad to know that it is an ios bug because after key-reuse keyboard works really good on iPhone.

[2014-12-23 17:03] #37 closed, assigned to nobody

[2014-12-25 06:27] pirrate opened #64 "Key sound issue"
I am not sure if it is related to keyboard or it is another iOS bug but some times keyboard sound get stuck. It keeps making sound without pressing any key, not able to switch off the sound. Only restart of device helps :)

[2015-01-02 05:59] roohi66 opened #65 "Word prediction"
Thanks for this great project
I think space on top of keyboard is useless and it would be great to use it for something.
Can you set word prediction (like apple keyboard) on priority ?

[2015-01-04 01:04] SchSimon commented on #10
@pirrate did you actually implement a long-press solution? Would you share it?

[2015-01-04 01:05] SchSimon commented on #65
That would be super cool!

[2015-01-04 01:25] jermiy commented on #65
Bbcr did

Sent from my iPhone

[2015-01-04 08:53] pirrate commented on #10
Hi @SchSimon , i am using the same technique that @bbqsrc did. Check out his fork https://github.com/bbqsrc/tasty-imitation-keyboard/blob/master/Keyboard/KeyboardViewController.swift

[2015-01-05 15:34] Archivus commented on #65
I second this :) I'll try and add it myself if possible and submit a pull request

[2015-01-07 21:59] playmusicloud opened #66 "Backspace jumps between fields"
There seems to be an issue with the cursor jumping fields when you use backspace while entering a new contact.

The way I got it to do this was by opening Contacts.
Create a new or edit an existing contact.
Type something in the First, Last or Company fields and then try backspacing.
The cursor will delete one character then jump down a line.

I downloaded the most recent version as of 1/7/15

[2015-01-07 22:23] archagon commented on #66
Hmm, interesting. I don't think I'm doing anything but the default
backspace call. Another keyboard framework bug?

On Wed, Jan 7, 2015 at 10:59 PM, playmusicloud <notifications@github.com>
wrote:

[2015-01-07 23:42] tkersey commented on #66
@archagon I can confirm that is bug occurs with other third party keyboards. It does appear to be a framework bug. Every keyboard I've tried it with has exhibited the issue except the system keyboard.

[2015-01-08 00:12] archagon commented on #66
Another one to add [to the list](http://beta-blog.archagon.net/2014/11/08/the-trials-and-tribulations-of-writing-a-3rd-party-ios-keyboard/), then...

[2015-01-08 00:14] archagon commented on #65
As nice as this would be to have, I just don't have the time to put it in. Sorry!

[2015-01-08 00:14] #65 closed

[2015-01-08 00:15] archagon commented on #64
Oh, that's not good. I've never run into it myself. Is it reproducible? What device?

[2015-01-08 00:17] archagon commented on #55
"Just on iPad when you typing very fast using more than one fingers keyboard lagging a little bit."

Do you get this on the default keyboard? On my iPad 3, which is pretty slow these days, I see it in the default keyboard as well.

[2015-01-08 01:38] playmusicloud commented on #66
Ok great...well other than the iOS issues I really like the keyboard.

[2015-01-08 14:25] pirrate commented on #66
I can also confirm that this is ios bug. I saw this problem in all custom keyboards

[2015-01-08 14:27] pirrate commented on #64
I can not simulate the problem. it just happens sometimes. just keep using keyboard with sound enabled and you will see it one time :) i really believe that this is ios bug because looking at code we can see that there are no line of code that could do that. (or may be this is lack of some timer)

[2015-01-08 14:47] archagon commented on #64
Hmm, the backspace timer might do that. Will check later...

[2015-01-09 17:37] alariccole commented on #55
Just a note, when in debug mode the memory watchdog may not happen, which is why you wouldn't get an out of memory crash when debugging. There may be a setting for this, not sure. But it sort of makes sense as debugging itself takes some memory.

[2015-01-09 18:02] archagon commented on #55
Thanks, that's good to know. In any case, I think I've fixed the biggest memory leaks, though there still seems to be some minor increase when switching keyboards quickly, possibly capped at a certain point.

[2015-01-10 11:08] pirrate commented on #55
Memory problem still exists if BannerView is ON. it keeps increasing memory when you change keyboards. When BannerView is off, no reasonable memory problem exists.

[2015-01-10 12:50] archagon commented on #55
Ah, thanks for the heads up! Will fix shortly...

[2015-01-12 19:02] pirrate commented on #55
Shortly is 1 week i guess? :))

[2015-01-15 05:52] roohi66 opened #69 "Move settings section from keyboard to whole application"
is there any way to move settings section to main application ?

(i tried to use NSUserDefaults but it seems keyboard part and application is completely separated and it did't any connection between them )

[2015-01-15 06:02] laud commented on #69
You will need to enable App Groups for your application to share data via NSUserDefaults. Read more about it here: https://developer.apple.com/library/prerelease/ios/documentation/General/Conceptual/ExtensibilityPG/ExtensionScenarios.html

[2015-01-15 07:14] roohi66 commented on #69
thank you
you saved my life

[2015-01-15 16:30] #69 closed

[2015-01-15 16:42] archagon commented on #69
PS this will also require your users to enable Full Access, which will lead to annoyed users and bad reviews. It's why I chose to do it in-keyboard.

[2015-01-15 16:43] archagon commented on #55
"Will" "fix" "shortly"

[2015-01-15 18:06] pirrate commented on #69
using group id  doesn`t require Full Access. I am using it in my app and it works good.

[2015-01-15 18:09] archagon commented on #69
That can't be right. My understanding is that it's impossible to share any data at all between a keyboard and the host app if Full Access is disabled. (Otherwise, a malicious keyboard could record a user's keystrokes, transmit them through the settings key/value store, and send them over the network when the host app is opened.) If you're able to share data between your keyboard and host app, are

[2015-01-15 18:13] pirrate commented on #69
I am turning Full Access ON only for keyboard sound purpose. In other cases group-id works just fine even if full access is off. This is part of my code

    override init(nibName nibNameOrNil: String?, bundle nibBundleOrNil: NSBundle?) {
        let prefs = NSUserDefaults(suiteName: "group.net.my.id")

        if prefs!.objectForKey(kSmallLowercase) != nil
        {
            NSUserDefaults.sta

[2015-01-15 18:25] archagon commented on #69
Hmmmmmm interesting if true. Will need to investigate...

Many 3rd party keyboards I've seen also do in-keyboard settings to avoid the Full Access hurdle. Maybe something changed, or my understanding was wrong? Is it really the case that if you have Full Access off and toggle one of the settings in your app, you can detect the change in your keyboard?

[2015-01-15 18:30] pirrate commented on #69
Yes man, i can 100% guaranty it! I am using it in my app and i have tested it in simulator and real device.  I have several switch in my container app. when i toggle any of them keyboard can understand it using group id-s and fullaccess if off.

[2015-01-15 18:41] archagon commented on #69
Crazypants. Ok, maybe I will move settings out of the keyboard if it works, at least as an option. Don't wanna waste that space after all.

[2015-01-15 18:45] pirrate commented on #69
That would be nice.

[2015-01-15 19:22] tkersey commented on #69
I have to disagree with @pirrate. In my experience, you can get by with full access off (for NSUserDefaults) when running attached to Xcode in the simulator or on a real device but when you try to distribute (either through Apple's TestFlight or something like Crashlytics) it will not work (I'm guessing because of code signing). You have to enable App Groups to share NSUserDefaults between the ext

[2015-01-15 19:28] pirrate commented on #69
By the "group-id" in my previous comments i was meaning App Grups. And yes you have to enable it from Capabilities tab of Container app and Keyboard extension and request/register app group in your appstore account. If you do so it works perfect and you can access your preferences that you set in Container app from keyboard extension.

[2015-01-15 19:38] tkersey commented on #69
@pirrate Have you tested this on a device without installing it from Xcode by using TestFlight, Crashlyiics, HockeyApp, etc?

[2015-01-15 19:40] pirrate commented on #69
I have tested it with TestFlight. It works! i give you my word :)

[2015-01-15 19:51] tkersey commented on #69
@pirrate Using a TestFlight build turn "Full Access" off and toggle a setting in the hosting app. Then confirm that in the keyboard. I'll bet that you will find that is does not work.

[2015-01-15 20:09] pirrate commented on #69
i have to apologies guys. seems like testing on simulator and xcode build pushed me to wrong decision. Seems like it doesn`t work with TestFlight build. Sorry for wrong information!

[2015-01-15 20:11] tkersey commented on #69
@pirrate I'm sort of glad that you were able to confirm. Hopefully you won't have to change to much. It's better to have learned this now than than after you've submitted to the App Store. :smile:

[2015-01-15 20:13] pirrate commented on #69
@tkersey thanks for pushing me to test it carefully! :)

[2015-01-15 20:40] archagon commented on #69
Phew, you almost shattered my entire world view. 😅

[2015-01-15 20:41] pirrate commented on #69
heheh ))) Sorry man. I was testing it mainly in simulator or run in real device with xcode. Testing with TestFlight proved me that i am wrong.

[2015-01-16 07:10] Amidos commented on #25
Eziz dostlar!

Eger menden size ingilis dilinde email gelibse onu achmayin. Spamdir! Eger
achib pdf download etmeye qeder getmisinizse tecili email shifrenizi
(linkedIn istifade edirisnizse onun da shifresini) deyishib!

Hormetle,
Amid

Dear Friends!

if you received and e-mail with English context from me please do not open
and just remove. This is a spam. if you already opened and clicked link
t

[2015-01-17 08:02] jermiy opened #70 "allow full access doesn't show"
For some reason after i made the project from scratch and use all the codes here allow full access is not in settings from the keyboard.

[2015-01-19 18:01] pirrate opened #71 "viewForKey issue on animation"
i have func changeSpaceName(sender: Key) method to change space name with animation and i am setting this method on setupKeys()

            var keyView = self.layout?.viewForKey(key)
            keyView?.label.alpha = 1
            UIView.animateWithDuration(0.3, delay: 1, options: .CurveEaseOut, animations: {
                keyView?.label.alpha = 0.0
                }, completion: {

[2015-01-21 07:27] jermiy opened #72 "Word suggestion/prediction and auto-correction"
It would be a very good idea if there is Word suggestion/prediction and auto-correction just like the default keyboard, really though it would be better than the default if it has that feature.

[2015-01-21 17:00] archagon commented on #72
Unfortunately, I don't really have time to implement this feature.

[2015-01-21 17:00] #72 closed

[2015-01-21 17:02] archagon commented on #70
Is `RequestsOpenAccess` set to `YES` in your Info.plist?

[2015-01-21 17:05] archagon commented on #71
When the keyboard has to re-layout, it puts all the existing keys into a key pool and then reuses them in somewhat random order for the new layout. I suppose it would make sense for the keys to be preserved on rotation. In the meantime, I suggest canceling the existing animation as soon as `willRotate` is called.

[2015-01-21 17:07] archagon commented on #60
I made some changes — check to see if there's still a problem? If there is, I would appreciate a specific use case, since auto-caps behavior varies depending on the settings and the specific text box involved.

[2015-01-21 17:10] pirrate commented on #60
have you already committed that changes,

[2015-01-21 17:11] archagon commented on #60
Well, I made them a month ago, but they touched the auto-caps code.

[2015-01-21 21:29] pirrate commented on #55
"still" "hope" "and" "wait" :)

[2015-01-29 23:38] cemkozinoglu commented on #48
@pirrate  @archagon  Same problem I have, it crashes in the real device and unless I delete the keyboard from the Settings -- I cant switch back to my original keyboard.

[2015-01-30 22:38] pirrate commented on #55
will really appreciate if you will fix that. Because there is still really serious memory leak if BannerView is On.

[2015-02-09 01:44] alariccole commented on #55
I'm curious what the cause could be. I see it to. Even a separate keyboard that I built myself exhibits this same issue...I'm thinking it might be constraints, but I'm not sure yet. If I can get instrument to symbolicate, I'll hunt it down.

[2015-02-09 11:52] waelsaad opened #73 "How to set a custom font to be used across all of the iOS apps, like FancyKey?"
Hi,

I can modify the keyboard to have a completely different characters however when I click a key to insert one of the characters from my custom font, it shows as a question mark.

Unicode is not supported for this font and I am hoping that it is possible to do it as long as I have my font linked within the app.

self.label.font = UIFont (name: "Jinkim", size: 30) !. I am really hoping for some

[2015-02-09 16:52] alariccole commented on #55
Still couldn't get Instruments to work for me to know the exact cause, but I do have a workaround. I'm guessing it's outlets etc. that are not being released, then recreated by the system. Could be an iOS bug, could be a misunderstanding of how nibs work. What reduced it for me, significantly, was to *set outlets and other variables manually to nil on viewWillDisappear* (viewDidDisappear didn't ge

[2015-02-09 17:35] archagon commented on #55
That's a great point. I unfortunately don't have the time to investigate right now, but I'm sure I forgot to do something to release the `IBOutlet`s. A cursory SO search shows that they have to be set to `nil` at some point. So that's probably the correct solution.

Not sure why it would be happening with the banner, though, since my implementation does not use a nib for that.

[2015-02-09 21:38] pirrate commented on #55
viewWillDisappear is called in my case. i put self.bannerView = nil, self.forwardingView = nil there but next time when i switch to keyboard it gives BAD_ACCESS error in different places.

[2015-02-14 13:16] pirrate commented on #55
Memory leak more observable in spotlight keyboard when bannerview is on. Also, keyboard delays for for half second while switching from symbol keyboard to letter keyboard when you click space button on specialkey (symbol) layout. would really appreciate if you will find couple hours to investigate memory leak problem. This is very cool keyboard but currently it is problem to add more functions int

[2015-02-14 15:44] waelsaad commented on #73
any response ?

[2015-02-14 21:10] archagon commented on #73
So, you want your custom font as an output, not just for your key caps? If so, then it's impossible — sorry. The character insertion method is the only way to enter text into a text field, and it takes a simple string. Other keyboards simulate "fonts" by picking weird characters that resemble Latin letters from Unicode.

[2015-02-14 21:10] #73 closed

[2015-02-16 10:27] waelsaad commented on #73
Thanks for response. This is really annoying and a huge limitation in iOS for languages that still don't have Unicode support such as the Coptic language I had to create "Coptic Notes" a complete Notes App and the iOS keyboard in order to support the Ancient Egyptian Coptic language. Thanks anyway.

[2015-03-13 14:23] athimannil opened #74 "Is there any option to resize "return" key's width ?"
The custom keyboard is really awesome :+1: As a beginner it is really useful for me
I need to resize "return" key's width while developing the keyboard. Is there any option for that ?

![img_0460](https://cloud.githubusercontent.com/assets/4364227/6639955/11fa9a1c-c9ba-11e4-9826-851e181f6337.jpg)

[2015-03-16 16:08] archagon commented on #74
Yeah, it should be pretty easy. The last row is laid out in the [`layoutSpecialKeysRow` function of `KeyboardLayout.swift`](https://github.com/archagon/tasty-imitation-keyboard/blob/master/Keyboard/KeyboardLayout.swift#L934). I believe the return key size is dictated by the `lastRowLandscapeLastButtonAreaWidthToKeyboardAreaWidth` and `lastRowPortraitLastButtonAreaWidthToKeyboardAreaWidth` constant

[2015-03-16 16:08] #74 closed

[2015-03-26 07:37] pirrate commented on #56
Keyboard still lagging when you type fast on iPad. So it is not possible to write fast and correct. Will really appreciate if you fix that.

[2015-03-26 12:55] archagon commented on #56
What iPad do you have? I have an iPad 3 and *all* my keyboards are laggy at this point, to be honest.

[2015-03-26 12:56] archagon opened #75 "Revised space/return key layout on iPhone 6 in iOS 8.3 (I think)."

[2015-03-26 12:56] #70 closed

[2015-03-26 16:26] pirrate commented on #56
i use iPad 2. Sometimes it is event changing to other keyboard automatically. it still have performance issues.

[2015-03-26 16:28] pirrate commented on #55
Just a reminder for you if you may be forgot to read this tread. Please improve a bit more. This is very useful work.

[2015-03-26 16:30] alariccole commented on #55
@pirrate now you're being annoying. Have respect for this person and what they've offered up to you, for free. No one is beholden to you. If it's so important, figure it out yourself.

[2015-03-26 16:38] pirrate commented on #55
@alariccole i don`t really want to annoy someone.  i just want to make it even better. From the beginning i was testing and reporting, helping for improvements here. @archagon as an author knows better his code and logic. He can easily/faster improve things here than someone else. I know we all are busy with real works daily and he is too. It is possible that we forgot to read something. This was

[2015-03-26 16:49] archagon commented on #55
Sorry guys, I have a big project I'm working on right now and I need to focus on it pretty much exclusively. I hope to come back and fix all these issues eventually but I can't offer any timelines or guarantees. My main metric for stability is reviews from the keyboards I've put up on the App Store, and nobody's complained about performance or crashes for the past few months, so I think that part

[2015-04-11 17:31] josepablog opened #76 "I can't compile code"
I'm a newbie in  Swift, but I can't compile this project. Is it my fault, or is there something wrong with the code? =-)

![screen shot 2015-04-11 at 1 30 20 pm](https://cloud.githubusercontent.com/assets/1832193/7102434/fe626e52-e04e-11e4-9eab-1d08318d89dc.png)

[2015-04-11 22:30] tkersey commented on #76
@josepablog You're using Xcode 6.3 which includes Swift 1.2. This project hasn't been updated to Swift 1.2 yet. You can either make the conversions to Swift 1.2 yourself or download Xcode 6.2 from the [Apple Developer Downloads site](http://developer.apple.com/downloads).

I converted the project over to Swift 1.2 myself. The changes you would need to make are probably not obvious if you're new to

[2015-04-11 22:56] archagon commented on #76
I'll get this fixed in the next few days.

[2015-04-15 16:28] 1000000000000 commented on #76
I'm new to Swift and figured out how to fix most of the bugs, but couldn't quite get all of them worked out. I look forward to your updated version. Thanks!

[2015-04-15 22:08] PrasiNV commented on #76
First of all, a ton of thanks for this wonderful work !!!

I am new to swift. Created a custom keyboard using this source code. Everything was perfect and tested thoroughly on iOS 8.2. I even got an app released on app store just 2 days before iOS 8.3 public release. Now my keyboard faces a weird issue while changing between landscape and portrait modes. Keyboard just crashes while changing interf

[2015-04-15 23:35] archagon commented on #76
OK, I pushed an update with all the 8.3 fixes. @PrasiNV I could not reproduce any interface orientation errors. Let me know if they still persist with the latest commit.

[2015-04-15 23:35] #76 closed

[2015-04-15 23:58] archagon commented on #76
OK, I see the graphical glitches now. Don't get any crashes, though. Where are you crashing?

[2015-04-15 23:59] archagon opened #77 "Keyboard exhibits graphical glitches on rotation in 8.3."

[2015-04-16 00:32] archagon commented on #77
Notably, `viewWillTransitionToSize:` works correctly now, and rudimentary poking around has produced good results. There's still a minor graphical glitch probably related to CG rendering, though. Will have to look at it later, since it's not a crashing issue: have to work on other things for the time being.

[2015-04-16 22:07] PrasiNV commented on #76
I set the deployment target as 8.2 and released on the app store. I checked the app store binary on 8.2 - It is all fine. Then checked it on 8.3. Everytime keyboard turns into landscape mode, the keyboard crashed. Tapping the globe key while keeping the device in landscape reopened the keyboard. Now If I turn it into portrait mode then again it crashes.

Today I successfully updated the swift synt

[2015-04-16 22:12] archagon commented on #76
Yeah, I'm not sure why you were seeing the crashes. I can't reproduce it on any of my 8.2-compiled App Store apps, unfortunately.

As for the warnings, they're no big deal. I'll remove them eventually as part of the ultimate fix for the graphics glitches.

[2015-04-16 22:36] PrasiNV commented on #76
This might not be the correct place, but I am facing another issue as well in iOS 8.3:

Surprisingly, the globe icon to change keyboards doesn't appear in spotlight search. However it appears in any other stock iOS app. Any pointers ?

[2015-04-17 05:38] pirrate commented on #76
@PrasiNV just restart your device it will be fixed.

[2015-04-22 16:40] betolley opened #78 "New and different Keys?"
If I wanted to add a key for Emoji what would be the best way? I wanted to change some of the characters but Don't see a way.

I have looked at the DefaultKeyboard class.  When I change a row there it doesn't do anything.

[2015-05-05 08:51] kiwi07 commented on #62
Now it's always disappear in Spotlight (iOS 8.3)

[2015-05-05 08:52] pirrate commented on #62
@kiwi07 just restart device it will be fine.

[2015-05-19 09:59] AmitBhavsarIphone commented on #78
Refers to this link, I have make changes in this keyboard. It may help you
https://github.com/AmitBhavsarIphone/Custom-keyboard

[2015-05-19 10:02] AmitBhavsarIphone commented on #38
Refers to this link, I have make changes in this keyboard. It may help you
https://github.com/AmitBhavsarIphone/Custom-keyboard

[2015-05-19 10:06] AmitBhavsarIphone commented on #10
Refers to this link, I have make changes in this keyboard. It may help you
https://github.com/AmitBhavsarIphone/Custom-keyboard
It contains,
Different keyboard type changes,
Long popup with different alphabet options,
Suggestion bar with text in it.
Constraint changes for different keyboard type.

[2015-05-19 17:19] alariccole commented on #10
@AmitBhavsarIphone thanks for sharing. Does the host app showcase these new additions? Sounds very useful.

[2015-05-20 05:41] AmitBhavsarIphone commented on #10
Hi @alariccole It showcase new additions, Looking forward to make
- Suggestions, prediction and autocorrection using N-gram algorithm and fastest fetching method from dictionary database.

[2015-05-24 17:30] slava-sh opened #81 "Files in KeyboardSound do not exist"
There is a group called KeyboardSound. The files in it do not exist:

![screen shot 2015-05-24 at 8 22 29 pm](https://cloud.githubusercontent.com/assets/470136/7788814/32d0f53e-0253-11e5-8055-54ff5467a3d0.png)

The group should be removed.

[2015-06-22 12:49] kamalupasena opened #84 "Add Image For Key"
how to add an Image and hide the key title in Keyboard layout , i have try adding image but it didnt work as i wanted how to fixed that issue ? i want to add different image in each key

[2015-06-29 12:38] nokai commented on #55
Who has found a solution to this problem?

Each time the keyboard is displayed, the memory is being filled and eventually stops working

People will not be used if every X times the keyboard no longer appears

[2015-07-29 04:28] bobintornado opened #85 "NSLayoutConstraint unable to simultaneously satisfy constraints."
Hey all, I am getting the following warning when I launch the keyboard, anyone has experienced similar issue before?

Keyboard[40697:2587035] Unable to simultaneously satisfy constraints.

Probably at least one of the constraints in the following list is one you don't want. Try this: (1) look at each constraint and try to figure out which you don't expect; (2) find the code that added the unwanted

[2015-07-29 04:59] archagon commented on #85
Yeah, that error happens when you change the size of the keyboard. I don't think there's a way around it. (At least there wasn't one when I first implemented it.)

[2015-07-29 04:59] #85 closed

[2015-08-14 13:09] pirrate opened #86 "iOS9 XCode 7.0 issue"
@archagon  i just noticed that keyboard doesn`t work properly on iOS 9. Wanted to fix it but couldn`t succeeded. Will appreciate if you could make a new branch and move code to Swift 2.0 and fix issues on xcode 7.0 when u have free time. Thanks!

[2015-08-15 03:18] archagon commented on #86
Could you by chance try running one of my keyboard apps on iOS9? Does it work? http://itunes.apple.com/app/id931305272

[2015-08-15 07:41] pirrate commented on #86
i'll try your keyboard and let you know. This is what happens. It work ok on 1st load but when u hide keyboard and it appeard 2nd time BannerView doesn`t load and popups on click are not appearing correctly.
![simulator screen shot aug 15 2015 12 38 08 pm](https://cloud.githubusercontent.com/assets/9286693/9287979/e89e352e-434a-11e5-9677-5836c4b2332c.png)

[2015-08-15 22:57] archagon commented on #86
Thanks for the tip! Sigh, guess I have some work to do until September.

[2015-08-20 14:57] bobintornado commented on #85
Is there a way "not to change it"? As how could we use the default height?

[2015-08-22 08:00] pirrate commented on #86
@archagon looks like your code works just fine. I did some research and found the problem. On xcode 6.3 when u hide keyboard and show it again  or just change keyboard and bring it  back init() method called. But on xcode 7.0 beta when u hide it and show again it is not called, only viewDidAppear is called.. My problem was that: i was removing and killing some objects on viewDidDissapear and recre

[2015-08-28 12:12] p356spt opened #88 "Zommed mode rotation problem"
In the zoomed mode (only available on iPhone 6 and iPhone 6 Plus ) rotation to landscape does not set the height for the keyboard. The portrait height of the keyboard remains and a blank area on top shows up.
![img_4293](https://cloud.githubusercontent.com/assets/14015349/9545927/c8302b16-4d96-11e5-8649-4b7c2e349355.PNG)

How to recreate : The screenshot was taken from the "NetDisk" App on an iPho

[2015-09-20 05:25] pirrate opened #89 "iOS 9 issues"
Any of you guys having such issue on iOS 9? Labels are not visible when keyboard appears.
![cpr8dphucae2dpc](https://cloud.githubusercontent.com/assets/9286693/9979354/e0266cd8-5f81-11e5-8421-4d35a0e73c47.jpg)

[2015-10-24 12:49] gald89 commented on #89
Yes I'm getting this too. Any idea of why this is happening?

[2016-03-01 07:32] sambing opened #92 "Background Color?"
Not exactly an issue, but i can't find which line affects the background view color. The keys, key shadows, all seem easy enough to find but, not the background view. Anyone?

[2016-03-11 09:21] durgiya opened #93 "Adjust the priority to 900 can solve constraint warning, like "Unable to simultaneously satisfy constraints""
func setHeight(height: CGFloat) {
        if self.heightConstraint == nil {
            self.heightConstraint = NSLayoutConstraint(
                item:self.view,
                attribute:NSLayoutAttribute.Height,
                relatedBy:NSLayoutRelation.Equal,
                toItem:nil,
                attribute:NSLayoutAttribute.NotAnAttribute,
                multiplier:0,

[2016-03-11 09:30] archagon commented on #93
Good to know! Does this still set the custom height of the keyboard correctly?

[2016-03-11 11:10] durgiya commented on #93
Yes, can also set the custom height of the keyboard correctly！

[2016-03-11 12:21] mromanuk commented on #93
yay!! thanks @durgiya, I was debugging that and just find your answer, really annoyed by the Constraints breaking messages.

[2016-03-30 15:27] vladf90 opened #94 "Key border color"
The `var lightModeBorderColor` from `GlobalColors` class seems to change the border colour only when the key is highlighted. Is this a bug or intended?

Tried to look in code but couldn't find any special logic regarding border when the popup is shown. Any hints where I should look?

[2016-03-31 09:16] vladf90 commented on #94
I found the part of code that was hiding the border for a normal key when the popup was not shown.

[2016-03-31 09:16] #94 closed

[2016-04-06 15:00] lneoe commented on #93
@durgiya thanks, it works

[2016-06-14 06:05] mikrosk opened #96 "How to change between two keyboards?"
I was very kindly surprised how universal processing of the Keyboard class is. I can define my own layout, my custom types, with all the colours, letters, images, amazing.

I've been wondering, is there a way how to switch between them? From what I've seen it seems the controller initializes the layout only once and then just hides/shows the default settings, if needed.

I haven't done much experi

[2016-06-14 13:22] polishedcode commented on #96
I've done some work allowing the user to flip between layouts: https://github.com/polishedcode/tasty-imitation-keyboard

[2016-06-20 23:32] mikrosk commented on #96
That's great stuff, mate! However, I'm experiencing much more unstable behaviour with your version, esp. when I start it in the simulator (iOS 9.3) -- many times I'm unable to switch back to the original keyboard, I mean literally the globe button does nothing, I have to restart the simulator in some cases. As soon as I try the original code, it works fine.

[2016-06-20 23:37] polishedcode commented on #96
Yeah the behavior of the switching a bit twitchy. You have to long press
the globe button and slide along to the pop up. Tapping on the button is a
bit unreliable.

On Mon, Jun 20, 2016 at 4:32 PM, Miro Kropacek <notifications@github.com>
wrote:

[2016-06-21 00:09] mikrosk commented on #96
Any idea what's causing it or better, any hope of fixing it? For me, this is a showstopper, even though I love the other features :-( (I'm still a beginner in iOS/Swift).

[2016-06-23 23:09] dawand commented on #96
You can add `keyView.addTarget(self, action: #selector(KeyboardViewController.advanceTapped), forControlEvents: .TouchUpInside)` under `case Key.KeyType.KeyboardChange:` in KeyboardViewController

[2016-06-25 20:25] polishedcode commented on #96
Added single tap handler per Dawand's comment. Give that a try mikrosk.

https://github.com/polishedcode/tasty-imitation-keyboard/commit/506d57bf0706d4ab8f164021a9ac1a6517f0c7eb

[2016-07-07 08:12] jimmy54 commented on #93
thanks,well done.

[2016-07-07 08:20] jimmy54 opened #97 "tasty-imitation-keyboard has memory leak."
tasty-imitation-keyboard has memory leak.some body know?

look the photo
[Photo](http://i4.piimg.com/567571/7c005f93d4f80984.png)

[2016-07-07 08:20] jimmy54 commented on #97
@archagon @mirontoli @oscardpt

[2016-07-19 14:59] cvonlehe opened #99 "Remove settings and globe keys"
Hey,

I just want to remove the settings and globe keys. What's the best way to go about doing this?

[2016-07-19 20:15] AaronFW commented on #99
In DefaultKeyboard.swift, comment out the two lines near line 130 which relate to the keyboard change button and the settings button so that it should look like this
[code]

However, if you were to publish a keyboard-app, be aware that Apple requires you to have key to change Keyboards.

[2016-07-19 20:16] cvonlehe commented on #99
Great. Thank you for the quick response.

[2016-07-19 20:16] #99 closed

[2016-07-20 16:53] AaronFW commented on #96
@polishedcode, do you know what is preventing your keyboard from having correct hight with iPad in Landscape?
I am not sure whether or not is related, but the debugger also reports auto-layout constraint issues in CatboardBanner.Swift. (I need to do some more poking to identify the exact issues.)

[2016-07-20 17:05] dawand commented on #96
I also have issues with the iPad keyboard height. @polishedcode would it be possible to have a look at it please?

[2016-07-21 19:32] cvonlehe opened #100 "Move Keyboard"
How can I move the keyboard? I want to change size of the keyboard extension and move the keyboard down.

[2016-07-22 14:40] cvonlehe opened #101 "Switch to Dark Color"
How do you switch to the dark color? Is there a simple boolean you have to set? I've been looking for a way to do it and can't seem to find it.

[2016-07-27 08:50] Archivus commented on #101
Nope, from my understanding of the code, the switch to dark color happens automatically (i.e. sent by the container app). It's up to the developer to color the keyboard accordingly.

[2016-08-03 13:15] cvonlehe opened #102 "Change font"
Hey guys,

Is there a way to change the font used in the keyboard. I've been trying a few different things and haven't seen any difference. Thanks in advance.

[2016-08-07 15:29] AaronFW commented on #96
@dawand @polishedcode
I've been a little slow to get to it, but I've gotten the iPad Landscape Keyboard Height to be acceptable now. (I have not tested it with iPad-Mini since there is no simulator.)

It might be somewhat 'hack' but I basically reused the code for the canonicalPortraitHeight and modified it for landscape and for iPad.

In keyboardViewController.swift, I updated the following funct

[2016-08-07 21:30] polishedcode commented on #96
Sounds good. It'll be a few days before I can review the fix.

On Monday, 8 August 2016, AaronFW <notifications@github.com> wrote:

[2016-08-16 03:32] polishedcode commented on #96
Included dawand@'s fix.

On Sun, Aug 7, 2016 at 2:29 PM, Simon Corston-Oliver <
simon@corston-oliver.com> wrote:

[2016-08-16 03:34] polishedcode commented on #96
Correction, it was AaronFW@'s fix. Reading comprehension fail.

[2016-08-27 21:51] rogomantik opened #103 "Reload the keyboard using the in-keyboard settings"
Hi,
I put an option in the settings to change the keyboard characters
to switch from qwerty to azerty
I made a
[code]
and a
[code]

I overriden createSettings and     @IBAction override func toggleSettings()

the value of **preference.isQwerty** is set correctly but I do not know what command to use to change the characters at the close of the settings and where call it

I tried to write self.keyb

[2016-09-02 04:12] ansonl opened #104 "Keyboard banner is moved down into keys when iOS call banner activated"
Hi,

When the keyboard is initialized and the iOS call banner is activated, the banner view is moved down into the keys. This only occurs in portrait mode as shown below:
![screen shot 2016-09-02 at 12 07 51 am](https://cloud.githubusercontent.com/assets/546458/18192348/7a335148-70a1-11e6-8747-719d08593ea2.png)

If the call banner is activated after the keyboard is initialized and setup, the banne

[2016-09-21 06:21] rahthakor opened #105 "Changing font of keyboard"
Hi,

I have tried to use keyboard as extension with Raleway Font(Google) but I'm not able to see displaying Raleway font on input control. It uses same system font.

Is it possible to do so to change font of textfield or textarea of any 3rd Party app.

Thanks in advance

Regards,
rAhul

[2016-09-22 05:30] pirrate opened #106 "iOS 10 iMessage crash"
After updating to iOS 10 when i type letter "İ"  (uppercase i but turkish) on iMessage it crashes and shuts down. I mean iMessage crashes not keyboard. The strange thing it doesn`t crashed anywhere else and iMessage itself doesn`t crash when i type any other uppercase or lowercase letter. Strange.. Any idea?

[2016-09-22 06:23] AaronFW commented on #106
Can you push your current version to your Github so that I can look at it? I do not know that I will be able to identify the problem, but it will be a little easier to look at.

[2016-09-22 06:30] pirrate commented on #106
@AaronFW   İ have messed a lot of things so it is not ready to be pushed but you can download this version and test it here. Because i also took this one as it is already converted to swift 3.0. https://github.com/polishedcode/tasty-imitation-keyboard   Just edit json file and add this letter somewhere "İ" and try to type it in iMessage. I have tested in Emulator and real device the problem is the

[2016-09-22 06:31] pirrate commented on #106
Or if you have converted your code to Swift 3.0 you can try with your own too. Because i am sure result will be the same.

[2016-09-22 06:59] pirrate commented on #106
Just one correction the same issue is on iMessage and Messages. So you test it with Messages app in Simulator.

[2016-09-22 07:47] AaronFW commented on #106
My own code is built on a form vastly different than the original Tasty-Imitation-Keyboard, it did not have the problem.

I downloaded Archagon's Tasty-Imitation-Keyboard, and updated the Syntax to Swift 2.3. iMessage then did crash with that character, just like you said.

After enough tries, it gave me an error report saying "** Terminating app due to uncaught exception 'NSRangeException', reaso

[2016-09-22 12:23] pirrate commented on #106
Thanks for information. how you got this error? i don`t receive any errors. also i mentioned that even when custom keyboard and i just copy/paste that "İ"  from somewhere (i mean without typing) Messages crash again. Also i found out that if i put 2 \n before "İ" then no crash happens. I don`t know what is the real reason :)

[2016-09-22 12:47] AaronFW commented on #106
I got the error after entering the İ a few times in iMessage. I have attached a Screenshot of the error and the full text. Now, (providing that the error is not still open in the background) I usually get the error every time.

<img width="992" alt="screen shot 2016-09-22 at 8 41 14 am" src="https://cloud.githubusercontent.com/assets/8921523/18748529/abfcff6c-80a0-11e6-8fc7-734e1b901132.png">
[pir

[2016-09-22 13:19] AaronFW commented on #106
Also, regarding the İ; isn't the lowercase "i"? The keyboard types the lowercase as "
<img width="27" alt="screen shot 2016-09-22 at 9 18 34 am" src="https://cloud.githubusercontent.com/assets/8921523/18749585/93ea902e-80a5-11e6-8036-7e8cbe96b9dc.png">

Or is it supposed to be that way?

[2016-09-22 13:22] pirrate commented on #106
yes the lowercase is i just for some reason when swift converts İ to lowercase it converts it to the letter that you wrote. i use proxy.insertText(("\u{0130}").uppercased(with:Locale(identifier: "tr")))

[2016-09-22 13:34] pirrate commented on #106
this really annoys me. Tried 100 methods to fix it but still no result.

[2016-09-22 14:18] AaronFW commented on #106
I will write someone regarding the Unicode issue with lowercase.

I will continue to try to establish why the İ is not working in Archagon's version but works in mine. For reference, my code is available on through my Fork. It should also be current. The most important files are probably  [DefaultKeyboard.Swift](https://github.com/AaronFW/Kouri-Vini/blob/master/Keyboard/DefaultKeyboard.swift) and

[2016-09-22 15:28] pirrate commented on #106
Strange, i have tested your code and it works fine. I am also looking now and trying to find difference.

[2016-09-22 22:20] pirrate commented on #106
any progress?

[2016-09-22 22:38] pirrate commented on #106
i have updated iPhone to ios 10.1 public beta. Now everything work fine :D

[2016-09-22 23:56] AaronFW commented on #106
It is good to hear that it seems to work fine for iPhone 10.1 beta.

I have been working and I haven't been able to look at it since I wrote last.

However, during my lunch-break, I did write a Bug Report to Apple regarding the İ, so please keep this Issue Open until I can report back when I hear back from Apple.

[2016-09-22 23:59] AaronFW commented on #105
I do not understand exactly what you are trying to do. Can you describe it in another way?

Are you saying, you want to change the Output of the keyboard so that you can type Raleway Font into any textField?

[2016-09-23 05:09] rahthakor commented on #105
I have created keyboard extension with reference to this repo.

What I have changed is system font to Raleway Font(Google) which are displayed on keyboard buttons without any problem. But When I press any button on keyboard that particular button title is display or textfield or wherever I'm typing but with system font not with font which I'm using in my keyboard title.

As you might know insertTe

[2016-09-24 04:36] pirrate commented on #106
iOS 10.0.2 still has this issue

[2016-09-24 05:46] pirrate commented on #106
@AaronFW i am curious why your version doesn`t have this issue? What is your swift version? 2.3? i looked at the codes there are nothing specially different on insert text parts. Still a big question for me. May be there are some option on build parameters?

[2016-09-24 10:57] AaronFW commented on #106
My Kouri-Vini Keyboard does not produce the error, but I did made a Tasty-Imitation-Keyboard that does produce the error. They are both Swift 2.3. I still cannot identify what the problem is.

[2016-09-24 12:30] pirrate commented on #106
Could you please share converted version of Tasty-Imitation-Keyboard?

[2016-09-24 14:40] pirrate commented on #106
Seriously, you version has some difference. I tried to convert tasty-imitation to 2.3 i gave me error for using "dynamicType" as it is deprecated. But in your source code you are using it. Are you sure it is SWIFT 2.3? :)

[2016-09-24 15:46] polishedcode commented on #105
I don't think you can specify the font of the text being inserted into the
containing app. The keyboard in your picture is probably inserting a string
that is a combination of capital T plus some combining diacritics. If you
were to backspace in the containing app you would see that it takes
multiple backspaces to erase that sequence.

On Thu, Sep 22, 2016 at 10:09 PM, Rahul Thakor <notifications@

[2016-09-24 17:15] AaronFW commented on #106
Well, I updated setupLayout() in KeyboardViewController to
` self.layout = self.dynamicType.layoutClass.init(model: self.keyboard, superview: self.forwardingView, layoutConstants: self.dynamicType.layoutConstants, globalColors: self.dynamicType.globalColors,  darkMode: self.darkMode(), solidColorMode: self.solidColorMode())`

Then since it wasn't important for the thing that you wanted resolved, I

[2016-09-24 20:56] pirrate commented on #106
I have tested version of @klimslim and it doesn`t have issue. I can type İ with it without any problem. https://github.com/klimslim/tasty-imitation-keyboard

[2016-09-25 07:57] pirrate commented on #106
@AaronFW after 2 days sleepless nights i fixed that shit. This is for sure iOS 10 bug. The problem was PrimaryLanguage option in NSExtension section of info.plist It was tr_TR before. I changed it "tr" now it works without any problem.
![screen shot 2016-09-25 at 11 55 21 am](https://cloud.githubusercontent.com/assets/9286693/18813784/2f253c10-8317-11e6-9b8e-1f1a65278adb.png)

[2016-09-25 11:49] AaronFW commented on #106
Ah, good job. I am glad it is fixed. :)

[2016-09-25 15:21] pirrate opened #107 "iOS 10 handleInputModeList issue"
I am trying to implement handleInputModeList that was added in iOS10. This is my code
  case Key.KeyType.keyboardChange:
                           if #available(iOSApplicationExtension 10.0, *) {
                                keyView.addTarget(self, action: #selector(self.handleInputModeList(from:with:)), for:UIControlEvents.allTouchEvents)
                            } else {

[2016-09-25 17:09] rahthakor commented on #105
When I have search regarding this issues on google I came across BytaFont and Cydia but that is with jailbreak option.
Even though I have seen some of the keyboard apps are using a different font than a system without jailbreak which is making me crazy how they are doing it.

I also read about TextKit in detail for changing it from another layer. But couldn't get succeeded.

[2016-09-25 17:15] Archivus commented on #105
@rahthakor @polishedcode this is not a font change but rather unicode symbols. i.e. see letter code symbols, enclosed alpha numerics etc. So instead of inserting a string in the keyboard method, insert a unicode symbol :)

[2016-09-25 17:33] rahthakor commented on #105
Let me show you some app which I have seen they haven't used Unicode characters rather than they have just changed a font,  even not similar to other languages which have different strokes.

[Better Font app](https://itunes.apple.com/us/app/keyboard-skins-for-iphone/id935588678?mt=8)
And this also
[Keyboard Skins for iPhone and iPad](https://itunes.apple.com/us/app/better-fonts-free-now-cool/id735

[2016-09-25 18:28] Archivus commented on #105
@polishedcode @rahthakor trust me, they're not changing the font. Just unicode modifiers. Insert this as the output for one of your keys 'ᴴᵉˡˡᵒ'. I haven't tested it but I'm positive it'll work. Those developers just market it as different fonts.

[2016-09-25 18:28] AaronFW commented on #105
I downloaded Better Font, but most of the fonts are unicode. For example, the main pre-installed one is mostly Amharic characters mapped to an English keyboard. Others used random Cyrillic characters. I didn't find any that I didn't think were unicode. For example, here is the unicode for the [Enclosed Alphanumeric:](https://en.wikipedia.org/wiki/Enclosed_Alphanumerics) ⓧⓨⓩ⓪⓫⓬⓭

If you wanted to l

[2016-09-25 19:14] rahthakor commented on #105
@AaronFW I just watch that video that might help but that too much work to do for it.
anyways thanks for the link.
back to original question. I still think that there much be something available which is not documented by any of trusted resources.
Because I have tried really hard to get any idea about how this is posible at all.

Only thing I can pass while entering something from keyboard is unat

[2016-09-26 12:53] pirrate commented on #107
@archagon @AaronFW any idea how to handle it?

[2016-09-26 16:28] AaronFW commented on #105
The reason I am still skeptical about the possibility of outputting a font into a textField is because the font is usually determined by the textField itself. The default for textFields is to rely on the UserDefault font but you can set a FontFamily manually. I don't know anything about changing font's programmatically or making a UIButton to do so, that hasn't been something I've needed to learn.

[2016-09-27 02:38] AaronFW commented on #107
I haven't had much chance to try using it.

[2016-09-27 15:49] rahthakor commented on #105
@AaronFW After looking support from apple also, I got to know that what I'm looking for can not be implemented in iOS. Programmatically fonts can not be changed from another apps i.e keyboard extension. As you rightly mentioned about for font that It is determined by TextField not Keyboard button from another app.

I was presuming something different as a meaning of diacritics. I got it correctly

[2016-09-27 20:31] AaronFW commented on #107
Well, I think it is because handleInputModeList(from:with) is a method of UIInputViewController but  keyView is KeyboardKey Class and KeyboardKey Class is UIControl (which inherits from UIView).

Typically when handleInputModeList is used, it is used directly in the UIInputControlView class declaration. For example, one project I looked at had
` self.nextKeyboardButton.addTarget(self, action: #sel

[2016-09-29 14:48] pirrate commented on #107
@AaronFW I think the main reason is because @archagon rewriting events on forwardingview and handleInputModeList(from:with:) is something that it doesn`t understand. Normally if i add extra UIButton to forwardingview and add same target it works without any problem. Now i don`t know how to figure it out with this architecture.

[2016-10-26 19:59] ronak4567 opened #108 "Remove 30px border on top"
When I change border size to 0px then key popup animation will be change

[2016-10-26 22:37] AaronFW commented on #106
@pirrate I finally heard back from someone from Apple regarding the "İ" being turned to lowercase incorrectly. The wrote the following:

Because you also experience the problem, can you run those commands in Terminal and send me the results? I will pass them on to Apple in the Bug Reporter.

[2016-11-07 00:17] josh990 opened #109 "keyPressed isn't fired?"
I am developing a keyboard that analyzes the user input.
I found the function `keyPressed(key: Key)` in KeyboardViewController.swift, but can't seem to use this to function to actually get what's typed (a `print` doesn't work, and putting a breakpoint neither).
Where is the function in charge of handling user inputs?

[2016-11-10 23:08] dawand commented on #109
You need to select the Keyboard extension scheme (not the hosting app) and open it within an app to get the console logs from the keyboard

[2016-11-11 00:34] AaronFW commented on #109
@josh990 For the sake of clarity, I will include a picture of what @dawand is talking about:
<img width="663" alt="screen shot 2016-11-10 at 7 32 11 pm" src="https://cloud.githubusercontent.com/assets/8921523/20199992/6e2c202a-a77c-11e6-9dea-4611b2aad703.png">

Also, relatedly, when I archived my project and uploaded it to iTunes connect, it combined the two and I was unable to select the "Keyboar

[2016-12-30 20:46] joshim5 commented on #103
Have you figured this out?

[2016-12-30 21:19] joshim5 commented on #103
You need to modify the actual views of the keys. The Keyboard class only points to the Keys. Changing the Keyboard will not change the views.
I have also overriden `toggleSettings()`. In my case, I added an extra instance variable to the key class called `letter`. From there, I ran the following code in my `toggleSettings()` function:
[code]

[2016-12-31 11:39] rogomantik commented on #103
I checked a lot of forks and made a func and use a bool to track the changes in settings
[code]

 I call it this way
[code]

I use it in a published app but i get some crashes on the extension
but only 1 crash each

PlugInKit: -[PKService run]
CoreText: bool TAATMorphSubtableMorx::FetchInitialClass<true>(TRunGlue&, CFRange, TRunGlue::TGlyph&, long&, TAATMorphSubtable::GlyphState&)
QuartzCore: CA::

[2017-01-11 21:45] OnTab opened #112 "key background frames don't show"
I have simplified the keyboard and removed the settings and the Cat keyboard. Also converted to Swift 3. Everything works fine except showing the white background of the keys and the popups. Any idea where to look to fix this? Thanks.

![image](https://cloud.githubusercontent.com/assets/5614592/21867675/350e62c2-d81d-11e6-9722-f9932cc84a24.png)

[2017-01-12 01:30] OnTab commented on #112
it was not getting called under KeyboardKey.swift in this function

`override func draw(_ rect: CGRect) {
        if self.shapeLayer == nil {
            self.drawCall(rect)
        }
    }`

after some digging and translating to Swift 3 it is now working again :)

[2017-01-12 05:33] #112 closed

[2017-01-28 07:29] YanamalaMadhav opened #113 "Crash in ipad ios 10+"
When allow full access is off its crashing in ipad with ios 10+
program is crashing before init function is called.

Kindly tell me how to fix it as soon as possible.

[2017-03-31 09:15] chihaodong commented on #108
@ronak4567  You solve it, how to solve.

[2017-04-03 15:09] rcedwards opened #115 "Incompatible with Swift 3.0+/Xcode 8.3"
Creating an issue to track updating to Swift 3.0+.

There appears to be multiple open PRs addressing this. #114 #110 #111

[2017-04-18 16:51] notdetninja47 opened #116 "Allow Full Access is off"
Hello. When I launch keyboard without allowing full access it crashes. The crash happens before the init method is called. Please, help me find out how to solve this problem

[2017-05-09 08:07] kamalupasena opened #117 "How to add background image as background"
Hi thank you for creating this, can you tell me how to add image as a background of the keyboard.
i have try to add a image but issue was after adding the background image none of the keys are working
`let backgroundImage = UIImageView()
        backgroundImage.contentMode  = .scaleAspectFill
        backgroundImage.clipsToBounds = true
        backgroundImage.image = #imageLiteral(resourceName: "

[2017-05-25 04:19] Ankish commented on #104
Any fix for this ?

[2017-05-25 09:13] Ankish commented on #104
// Add this
- (void)viewDidLayoutSubviews {
    [super viewDidLayoutSubviews];

    CGRect frame = self.view.superview.frame;
    CGFloat dy = CGRectGetMinY(frame);
    if (dy > 0.f) {
        frame.origin.y = 0.f;
        frame.size.height += dy;
        [self.view.superview setFrame:frame];
    }
}

[2017-05-29 05:23] jams032 commented on #115
I am facing 11 separate issue on xcode 8.3.2, swift 3.0
1. Catboard.swift , line 50,56- Editor placholder issue
2. ForwardingView.swift , line- 214 initialiser for conditional binding must have an optional type ,.....
3. KeyboardViewController.swift , line483, 488, 493 - editor placholder issue.

[2017-05-30 21:22] vccabral commented on #115
I am getting the same issues. @jams032 are you working on an update?  Is there a PR for this? Maybe we can get a group together to update for swift 3.0.

[2017-05-30 22:42] AaronFW commented on #115
You might try looking at Polishedcode's version of the Tasty-Imitation-Keyboard and see how he handled those sections in his code. https://github.com/polishedcode/tasty-imitation-keyboard

Alternatively, you could look at how I handled it in mine. Mine is based on Archagon's Swift 2.0 and I used a lot of Polishedcode's added functionality for my own project. Though, I do still have some cleaning u

[2017-08-25 05:04] kamalupasena opened #118 "First Row Pop Up under the banner view"
I have a small question, when the pop is at first row always goes under the banner view , is there a way to bring it front of banner view ? , i have try bring subview to front way but haven't got any results , i have attached a screenshot of my problem

![img_1650](https://user-images.githubusercontent.com/5517484/29700295-fe0de7d2-8980-11e7-95c1-7a7ca0c3b614.PNG)

[2017-09-12 05:53] sameerpixster opened #119 "landscape portrait issue."
when i am using keyboard outside of app then rotate the device so, keyboard layout is not proper and no one key is work, layout is like this

![img_0288](https://user-images.githubusercontent.com/11402042/30310168-be8a58e0-97ac-11e7-8d30-5bf95b28278f.PNG)
![img_0287](https://user-images.githubusercontent.com/11402042/30310169-bf686266-97ac-11e7-9cb2-5c022fb7ac6f.PNG)

[2017-11-28 06:31] archagon commented on #115
PR merged.

[2017-11-28 06:31] #115 closed

[2018-01-05 13:15] mromanuk commented on #107
@pirrate you are right, I needed to change the way ForwardingView and KeyboardKey track touch.

That allow me to do this in `keyboardViewController.setupKeys()`:

[code]

the `originalViewTouch` is a flag to use the *native* UIControl tracking capability instead of the Archagon keyboard tracking in `ForwardingView.hitTest`

[2018-01-20 09:42] ifanchu commented on #107
@mromanuk do you mind shedding some light on how to implement this? Some code snippets maybe? Appreciated.

[2018-01-21 22:53] ifanchu commented on #107
I think I figure it out, thanks for the tip @mromanuk

[2018-01-28 03:06] ifanchu commented on #101
I also have this question. There must be a way to specifically saying to use darkmode (darkmode looks pretty good).

The lines of code I was looking at was `KeyboardViewController`

    func darkMode() -> Bool {
        let darkMode = { () -> Bool in
            let proxy = self.textDocumentProxy
            return proxy.keyboardAppearance == UIKeyboardAppearance.dark
        }()

        return d

[2018-02-09 05:26] snout-o commented on #102
Did you ever get anywhere with this? having the same difficulty myself changing the font shown on the keyboard (not what appears in the label/textareas etc. i just need to change the font of the keys themselves )

[2018-04-10 06:01] kutakmir commented on #92
@sambing have you figured it out?

[2018-04-26 05:06] snout-o commented on #84
Did you ever get anywhere with this? The code is not so clear on how we might implement an ImageKey for a specific key

[2018-04-26 05:10] kamalupasena commented on #84
@snout-o  no  i haven't. what i did was change the typeface of the button.

[2018-06-01 21:04] rscodra commented on #92
@kutakmir i have forgot which was it and can't remember any pointers as of now.

[2018-06-27 12:12] otbox21 opened #122 "Anyone successfully implemented?"
Just wondering.  I've looked at this code for a day and don't really even know where to start.

(I made a keyboard app but can't stand the jumping glitch that my using storyboards caused, so I was looking for a code-only keyboard to sample)

[2018-06-27 21:14] simoncorstonoliver commented on #122
one thing it took me a while to understand (it's been a while since I looked at the code but hope this is helpful): there are keys, skin etc then there is an invisible layer over the whole thing. When you think you're pressing a key you're actually touching this invisible layer which figures out which key you're closest to -- e.g. what should happen if you touch between the "W" and "E" keys?

But

[2018-06-27 21:22] otbox21 commented on #122
ahhhhh...that makes sense.  My confusion just comes from the fact that I'm very new to coding.  This really does work so much better than the one I built in storyboards, so I'd love to be able to implement this.  Off to my iOS Study Group to ask more questions.  Thanks!

[2018-06-27 21:22] #122 closed, assigned to nobody

[2018-07-09 14:26] thanospapazoglou opened #123 "Change language dynamically"
Is it possible to change the language and the keyboard layout when a specific key is pressed?

[2018-07-11 20:17] otbox21 opened #124 "Insert buttons/etc in bannerView?"
I'm trying to add a button in the createBanner function in KeyboardViewController, and am not seeing anything.  Am I barking up the wrong tree?

No need for handholding, I'm just missing something obvious I think.

[2018-07-11 20:48] otbox21 commented on #124
nevermind!

[2018-07-11 20:48] #124 closed, assigned to nobody

[2018-08-04 12:12] vishal07malvi commented on #107
@ifanchu @mromanuk @archagon @AaronFW could you please let me know this issue is fixed or not? because I also having issue with
`     keyView.addTarget(self, action: #selector(self.handleInputModeList(from:with:)), for:UIControlEvents.allTouchEvents)
`
handleInputModeList, Could you please let me know what should I do with this?

[2018-10-11 05:25] pirrate opened #125 "keys lost their sensibility after iOS12"
Hi guys, after updating to iOS 12 keys lost sensibility. You have to click several times to make it work. Are you having same problem?

[2018-10-13 18:00] nishabe commented on #125
I am using this repo my project. I do not have any issues in iOS 12.

[2018-10-13 18:02] nishabe commented on #118
Do you see this behavior when running the project as is? Because I do not see this issue.

[2018-10-13 18:03] nishabe commented on #116
Do you see this behavior when running the project as is? Because I do not see this issue.

[2018-10-20 19:57] pirrate opened #126 "Serious lagging after iOS12 update"
@archagon hi, there is a serious lagging on keyboard after iOS 12 update. Could you plz check it? Try typing fast. Even not very fast is needed just do your regular typing you will see. Sometimes keys is not pressed even though you press on it so it misses some letters during typing.

[2018-10-23 10:51] iqbal92 opened #127 "@ key not working"
when i go to special character then press  @ key and ( ' ) key so, keyboard display change in ios 12

error Log :
Custom_keyboard[5187:314563] *** Terminating app due to uncaught exception 'NSUnknownKeyException', reason: '[<__NSCFDictionary 0x600000aae780> valueForUndefinedKey:]: this class is not key value coding-compliant for the key

[2018-10-26 13:13] pirrate commented on #125
@nishabe no man, it is lagging very bad after iOS12 update

[2018-10-26 17:07] otbox21 opened #128 "Advice on subclassing KeyboardKey?"
I'm making a keyboard with another view that will have some snippets.  I'm starting with just 8, like this:

![screen shot 2018-10-26 at 12 54 30 pm](https://user-images.githubusercontent.com/28899386/47581161-ae38bb80-d91e-11e8-85d5-27f9b6d3d10a.png)

I'd like to have these buttons behave like the normal keyboard keys do, with their wonderful pop-up behavior and their proper resizing across devic

[2018-11-07 00:04] Alexfeuillet commented on #126
We have identified that the issue is because with iOS 12 pressing the space between two keys will no longer activate the key that is closer to the touch, i.e., the keypress would have to fall inside the button for a letter/character to be activated. However we have not been able to come up with a fix.

[2018-11-08 17:06] otbox21 opened #129 "Hide Globe on iPhoneXs?"
I'm trying to write a function that checks if the device is an X model, so that it removes the Globe key.  I'm using DeviceGuru, but having problems.  If anyone has a quick solution, let me know please!

[2018-11-10 02:28] faraz-hussain commented on #129
We had created a variable in KeyboardViewController.swift that used the needsInputModeSwitchKey instance property Apple had introduced in iOS 11, but our implementation no longer seems to work with X and XS phones on iOS 12. Please let me know if you find a better solution...

        var globeKeyShouldDisplay = true

        KeyboardViewController.shared = self

        if #available(iOSApplicati

[2018-11-17 20:22] vinaymanchundiya commented on #126
@pirrate , check pull request #130 for the fix.

[2018-11-27 07:38] kamalupasena commented on #107
@mromanuk can you share a code sample showing how you do it ?

[2018-11-27 07:39] kamalupasena commented on #107
@ifanchu Can you share a code sample ?

[2018-11-30 11:20] iqbal92 opened #131 "keyboard layout probem after add banner"
when i am add keyboard banner then full theme color is not change. please show in image
![screen shot 2018-11-30 at 4 45 56 pm](https://user-images.githubusercontent.com/26219515/49286363-f1f38780-f4bf-11e8-9fce-2c81c9622556.png)

only highlighted area color is change not change color out of highlighted area.
please suggest me.

[2019-02-20 16:52] kamalupasena commented on #123
its possible in,(This is what i did)First create a function that return a keyboard with the keys of your selected language (See the implementation of the `DefaultKeyboard` class )  and then  go to the class   `KeyboardViewController` there is a function called `layoutHelper` using this u can changed the language of the keyboard very easily. you just have to return the keyboard you have created the

[2019-04-01 16:12] layik commented on #129
In Objective C, I could detect it using

[code]

What I am struggling with is moving the keyboard above the "safe area".

[2019-04-01 16:49] faraz-hussain commented on #129
See fix here https://github.com/archagon/tasty-imitation-keyboard/pull/130

[2019-05-10 07:12] iqbal92 opened #132 "Second page first row from json file keyboard is crash."
i am using different language in this keyboard using json file, First page json file work good, but when i add second page in first row in json file, then i press key of second page in first row, then keyboard is forcefully go to first page. i already attached json file.

please help..

[QWERTY.json.zip](https://github.com/archagon/tasty-imitation-keyboard/files/3165262/QWERTY.json.zip)

[2019-05-22 12:34] DGP13 opened #133 "keyboard crash"
I have  add my custom style . On banner view  , so when  I jumped to keyboard to my many time it not working properly.
 iuse is  many time tap  to my style to keyboard it is crashing on the keyboard.

 In keyboard  clicking more than 5 times on keyboardvc it  is crashing  I have already tried one of your suggestions that remove a cardboard file . I tried but I  failed ..!!
 How can I  stop these i

[2019-05-23 10:01] DGP13 commented on #52
same here issue please explain solution

[2019-07-02 10:18] kamalupasena opened #134 "How to add 3D touch trackpad"
Dose any one able to add 3D Touch trackpad to the keyboard ?

[2019-08-01 03:37] aalenliang commented on #107
Here is my full solution to this issue, don't know if it's the best approach. thanks for @mromanuk sharing the tips.

in **KeyboardKey.swift**, add `originalViewTouch` property:
[code]

in **KeyboardViewController.swift**, `setupKeys` function:
[code]
and delete `advanceTapped` method.

in **ForwardingView.swift**, `hitTest` function:
replace
[code]
with
[code]

[2019-09-07 13:05] 1fr0st opened #135 "Implementing keyboard in-app"
Hello , I have a question.
Is there a way to implement this keyboard in an external app so I can use it with textFields?
I tried to use as textField.inputView but it gives me an error since inputView needs a UIView as parameter but KeyboardViewController is an UIInputViewController.
Thanks in advance!

[2019-09-09 19:23] jeremymarch commented on #135
This works for me:
var kb: Catboard? = nil //or whatever your subclass of KeyboardViewController is

override func viewDidLoad() {
        super.viewDidLoad()
        kb = Catboard()
        kb?.inputView?.translatesAutoresizingMaskIntoConstraints = false
        textView!.inputView = kb?.inputView
}

[2019-09-10 07:39] 1fr0st commented on #135
@jeremymarch  Really thank you!!!! it works

[2019-10-25 08:10] 1fr0st commented on #129
@layik  Hello , have you found a fix on moving the keyboard above the safe area?
have you tried using safeAreaLayout?

[2019-10-28 16:56] #135 closed, assigned to nobody

[2019-10-28 16:59] 1fr0st opened #137 "Implementing iPhone X"
Hello to everyone ,
I have an issue about implementing the keyboard in-app from iPhone X to above , I get the keyboard overlapping the safe area , so it attach to the bottom screen.
How can I bring up the keyboard over the safe area , simulating the real keyboard?
Thanks in advance

[2020-01-20 09:01] goodbai1988 opened #138 "Could not change key color with modifying GlobalColors"
I tried to modify the UIColor parameter in KeyboardLayout->GlobalColor class, but nothing changed after rerunning the HostingApp.
How can I change the keyboard key color？
THX!

[2020-03-04 11:34] prateekdroid08 commented on #105
@rahthakor I am facing the same issue. Did you achieve the font in textfield ?
Waiting for your response.

[2020-03-04 14:08] rahthakor commented on #105
@prateekdroid08 Unfortunately it is not possible in iOS.
It is not possible to develop a keyboard extension which changes font in different apps.

Just think of a scenario where you're writing something in slack and they use different fonts in their textfield according to their style guide and out of no where our app extension changes those input fonts.

[2020-03-04 14:08] #105 closed

[2020-05-20 07:29] #117 closed

[2020-05-29 02:26] jermiy opened #142 "keyboard Crashes on certain Apps."
I was able to add some extension to this keyboard and installed to my iPhone 11, keyboard works in the app it self and search bar, safari, note pad but ti won't get activated (keep returning to the previous keyboard) on Facebook, instagram, message, and so many other apps. Please let me know which part of the code need to be edited.

[2020-07-11 07:31] #123 closed, assigned to nobody

[2020-10-21 08:53] SuperAnn-12 opened #143 "Anyone found the reason why the keyboard keeps crashing?"
When switching to the keyboard, it crashes almost every time. Fortunately it is restarted, but I'd love to fix that issue.
Anyone found the reason why? There is no stack or whatsoever, and I don't know how to investigate this.

Thanks

[2022-05-01 14:34] #97 closed

[2022-06-30 10:41] #138 closed, assigned to nobody